/* Flexnav Base Styles */
nav {
  margin-top: 0px;
  margin-bottom: 20px;
}

.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
  /*max-height: 0;*/
}
.flexnav.opacity {
  opacity: 0;
}
.flexnav.show {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.flexnav.one-page {
  position: fixed;
  top: 50px;
  right: 5%;
  max-width: 200px;
}
.flexnav li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
}
.flexnav li a {
  position: relative;
  display: block;
  z-index: 2;
  padding: 10px 15px;
  overflow: hidden;
  color: #111111 !important;
  text-decoration: none;
  background: #FFFFFF;
  border-bottom: 1px solid #999999;

}
.flexnav li a:hover {
  display: block;
  background: #333333;
  color: #FFFFFF !important;
}
.flexnav li ul li:first-child a {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.flexnav li > ul {
  padding-top: 0px;
}
.flexnav li ul {
  width: 100%;
  display: block;
}
.flexnav li ul li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
  float: none;
}
.flexnav li ul.show li {
  overflow: visible;
}
.flexnav li ul li a {
  display: block;
  background: #b2b2af;
}
.flexnav li ul li a:hover {
  display: block;
  background: #FFFFFF;
  color: #000000 !important;
}
.flexnav ul li ul li a {
  background: #FFFFFF;
}
.flexnav ul li ul li ul li a {
  background: #cbcbc9;
}
.flexnav .touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  display: inline-block;
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center;
}
.flexnav .touch-button:hover {
  cursor: pointer;
}
.flexnav .touch-button .navicon {
  position: relative;
  top: 1em;
  font-size: 12px;
  color: #666;
}

.menu-button {
  position: relative;
  display: inline-block;
  padding: 0% 2%;
  background: #8c001a;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  line-height: 48px;
  width: 96%;
}
.menu-button.one-page {
  position: fixed;
  top: 0;
  right: 5%;
  padding-right: 45px;
}
.menu-button .touch-button {
  background: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}
.menu-button .touch-button .navicon {
  font-size: 16px;
  position: relative;
  top: 0;
  color: #FFFFFF;
}

.flexnav li:hover b, .flexnav li.menu_rh b {
  display: none;
}

@media all and (min-width: 840px) {
  body.one-page {
    padding-top: 70px;
  }

  nav {
    height: 52px;
    width: 100%;
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 00px 00px 00px 00px;
    float: right;
    z-index: 101;
    background: #e37b00;
  }

  .flexnav.opacity {
    opacity: 1;
  }
  .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
  }
  nav li {
    display: inline-block;
    list-style-type: none;
    font-family: 'bebas_neueregular';
  }

  .flexnav {
    overflow: visible;
    width: 100%;
    display: inline-block;
    padding: 0%;
    text-align: left;
    vertical-align: top;
    max-height: 42px;
  }
  .flexnav.opacity {
    opacity: 1;
  }
  .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
  }
  .flexnav li {
    position: relative;
    list-style: none;
    display: inline-block;
    /*background-color: #a6a6a2;*/
    overflow: visible;
    margin: 00px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
  }
  .flexnav li:last-child {
    border-right: 0px solid #FFFFFF;

  }
  .flexnav li a {
    padding: 16px 10px 10px 10px;
    margin: 00px 5px 00px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: none;
    color: #FFFFFF !important;
    text-shadow: 00px 00px 00px;
    border-bottom: 0px solid #000000;
  }

  .flexnav li a:hover, .flexnav li a:active, .flexnav li.menu_rh a {
    color: #5c2901 !important;
    background: none;
    text-shadow: 00px 00px 00px;
  }

  .flexnav li > ul {
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    padding-top: 52px;
    width:240px;
  }
  .flexnav li > ul li {
    width: 100%;
    padding: 00px;
    margin: 00px;
  }
  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
    padding-top: 00px;
  }
  .flexnav li ul li {
    margin: 00px;
    padding: 00px;
    overflow: hidden;
    background: #FFFFFF;
    float: left;
    font-size: 13px;
  }
  .flexnav li ul li a, .flexnav li.menu_rh ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: #45484C !important;
    text-align: left;
    background:#FFF;
    display: block;
    margin: 00px;
    line-height: normal;
    border-radius: 0px;
    border: 1px solid #555;
    border-bottom: 0px solid #555;
    max-height: 36px;
    -webkit-transition: background .0s ease-out;
    -moz-transition: background .0s ease-out;
    -o-transition: background .0s ease-out;
    transition: background .0s ease-out;
    overflow: hidden;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif, "Trebuchet MS";
  }
  .flexnav li ul li:last-child a, .flexnav li.menu_rh ul li:last-child a {
    border: 1px solid #555;
    border-bottom: 1px solid #555;
  }
  .flexnav li ul li a:hover, .flexnav li.menu_rh ul li a:hover {
    color: #a2bd1c !important;
    background:#FFFFFF;
  }
  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }
  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }
  .menu-button {
    display: none;
  }

  .flexnav li:last-child ul {
    margin-left:-50px;

  }
  .flexnav li ul li:last-child ul {
    margin:0 0 0 220px;
  }

  .flexnav .touch-button {
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 5px;
    width: 00px;
    background: rgba(255, 255, 255, 0.075);
    height: 00px;
    display: inline-block;

    text-align: center;
  }
  .flexnav .touch-button:hover {
    cursor: pointer;
  }
  .flexnav .touch-button .navicon {
    position: relative;
    top: 1.4em;
    right: 5px;
    font-size: 7px;
    color: #FFFFFF !important;
  }
  .flexnav ul li .touch-button .navicon {
    position: relative;
    top: 1.5em;
    right: 5px;
    font-size: 7px;
    color: #666 !important;
  }

  .menu-button {
    display: none;
  }

  .flexnav li ul li:last-child ul {
    margin-left:-125px;
  }
  .flexnav li ul li:last-child ul {
    margin:0 0 0 220px;
  }
}

.oldie body.one-page {
  padding-top: 70px;
}
.oldie .flexnav {
  overflow: visible;
}
.oldie .flexnav.one-page {
  top: 0;
  right: auto;
  max-width: 1080px;
}
.oldie .flexnav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
  min-height: 50px;
  overflow: visible;
}
.oldie .flexnav li:hover > ul {
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav li:hover > ul li {
  width: 100%;
  float: none;
}
.oldie .flexnav li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
  overflow: visible;
}
.oldie .flexnav li > ul {
  background: #acaca1;
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  z-index: 1;
  overflow: visible;
}
.oldie .flexnav li ul li ul {
  top: 0;
}
.oldie .flexnav li ul li a {
  border-bottom: none;
}
.oldie .flexnav li ul.open {
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav li ul.open li {
  width: 100%;
}
.oldie .flexnav li ul.open ul.open {
  margin-left: 100%;
  top: 0;
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav ul li:hover ul {
  margin-left: 100%;
  top: 0;
}
.oldie .menu-button {
  display: none;
}
.oldie.ie7 .flexnav li {
  width: 19.9%;
}
